# This docker-compose file is for DEVELOPMENT. It is used with the repository source code, it does not refer to a compiled image.
# To be honest, there should be no reason to use this file unless you are developing the application. - MaskedMatters

services:
  app:
    build: .
    ports:
      - "3000:3000"
    networks:
      - flex-network

networks:
  flex-network:
    driver: bridge
